header img {
  height: 250px;
  width: 200px;
  margin: 20px 50px 9px 0px;
  border-radius: 50%;
}
header article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(197, 196, 194, 255);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

.header-separator {
  display: flex;
  flex-shrink: 0;
  background: white;
  width: 1px;
  height: 150px;
  margin: 10px 100px;
}

.name-and-contact-info {
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-info-wrapper,
.second-info-wrapper,
.third-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

section {
  font-size: 20px;
  margin: 10px 0px 10px 50px;
  height: 200px;
  width: 500px;
}

.longer-section {
  height: 400px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(197, 196, 194, 255);
}

.my-git-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-decoration: none;
  color: black;
  margin-right: 50px;
}

img.git-icon {
  height: 100px;
  width: 100px;
}

img.rs-school {
  margin: 10px 0px 10px 50px;
  height: 150px;
  width: 300px;
}

.date {
  font-size: 30px;
  margin-left: 100px;
}
